version: '3.8'

services:
  web:
    build: .
    container_name: django_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    environment:
      - DEBUG=0
      - DJANGO_SETTINGS_MODULE=loadandlearn.settings
    restart: unless-stopped

volumes:
  static_volume:
  media_volume:
